@font-face {
  font-family: Inter;
  src: url(Inter-Regular.ttf);
}

body {
  margin: 0;
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.btn-sout {
    display: block;    
}


main {
    margin-top: 50px;
}

nav {
    background-color: rgb(1, 1, 39);
    color: rgb(180, 180, 180);
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

nav ul {
    list-style-type: none;
    display: flex;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

nav ul li {
    padding: 5px;
    box-sizing: border-box;
    display: block;
}

nav .dropdown {
    height: 100%;
    position: relative;
    cursor: pointer;
}

nav .dropdown-content {
  position: absolute;
  background-color: rgb(1, 1, 39);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: -5px;
  top: 30px;
}

nav .dropdown-content > ul {
    display: flex;
    flex-direction: column;
}
