@font-face {
  font-family: Inter;
  src: url(Inter-Regular.ttf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section#profile {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: flex-end;
}

.btn-sout {
    display: block;    
}

main {
    display: flex;
}