:root {
    --menu-bg: rgb(1, 1, 39);
    --menu-text: rgb(180, 180, 180);
    --post-width-large: 700px;
    --post-width-medium: 500px;
    --post-width-small: 400px;
    --post-width-xs: 300px;
}

@font-face {
  font-family: Inter;
  src: url(Inter-Regular.ttf);
}

body {
  margin: 0;
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

nav {
    background-color: var(--menu-bg);
    color: var(--menu-text);
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

nav ul {
    list-style-type: none;
    display: flex;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

nav ul li {
    padding: 5px;
    box-sizing: border-box;
    display: block;
    
}

nav li:hover {
    color: white;
}

nav .dropdown {
    height: 100%;
    position: relative;
    cursor: pointer;
}

nav .dropdown-content {
  position: absolute;
  background-color: var(--menu-bg);
  color: var(--menu-text);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: -5px;
  top: 30px;
}

nav .dropdown-content > ul {
    display: flex;
    flex-direction: column;
}

main {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > h1 {
    padding: 4px;
    width: var(--post-width-large);
    font-size: large;
}

.post {
    background-color: aqua;
    width: var(--post-width-large);
    padding: 8px;
    border-bottom: 1px solid grey;
}

@media only screen and (max-width: 730px) {
    main > h1 {
        width: var(--post-width-medium);
    }
    .post {
        width: var(--post-width-medium);
    }
}

@media only screen and (max-width: 530px) {
    body {
        font-size: small;
    }
    main > h1 {
        width: var(--post-width-small);
        font-size: medium;
    }
    .post h2, .post h3 {
        font-size: small;
    }
    .post {
        width: var(--post-width-small);
    }
}

@media only screen and (max-width: 375px) {
    body {
        font-size: x-small;
    }
    main > h1 {
        width: var(--post-width-xs);
        font-size: small;
    }
    .post h2, .post h3 {
        font-size: x-small;
    }
    .post {
        width: var(--post-width-xs);
    }
}

.post h2, .post h3 {
    font-size: medium;
    margin: 4px 0px;
}

.fld-title {
    display: block;
    width: 100%;
}

.fld-content {
    display: block;
    width: 100%;
}